<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.obskc.raspored"
	version     = "1.0.0" >

	<name>Obrtnička škola Koprivnica - raspored sati</name>

	<description>
	  Brza i lagana aplikacija jednostavnog sučelja.
	</description>

	<author href="https://github.com/DarioSiroki/OBSKC-Raspored-Sati" email="dario.siroki@gmail.com">
	  Dario Široki
	</author>
	
	<access origin="https://github.com" subdomains="true" />

	 <icon src="icon.png" />
</widget>