<?xml version='1.0' encoding='utf-8'?>
<widget id="com.obskc.raspored" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Raspored sati</name>

	<description>
	  Brza i lagana aplikacija jednostavnog sučelja.
	</description>

	<author href="https://github.com/DarioSiroki/OBSKC-Raspored-Sati" email="dario.siroki@gmail.com">
	  Dario Široki
	</author>

    <content src="index.html" />
	
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	
	<icon src="img/icon.png" />
</widget>
